langchain_core
dotenv
streamlit
langchain_community
pypdf2
faiss-cpu
wikipedia
langchainhub
PyPDF2
langchain-huggingface
langchain
langchain_cohere
numpy
lamngchain-huggingface
flask
langchain-community
lan